h1 {
    font-size : 18px;
    font-weight : 900;
    color : #505050;
    line-height : 30px;
}

th {
    text-align : center;
    font-size : 16px;
    font-weight : 600;
    color : #FFFFFF;
    background-color: #5a5a5a;
}

a, a:visited {
    color : #00500f;
    text-decoration : none;
    font-weight : 800;
}

img {
    height: 300px;
    width : 300px;
}